canvas{
  border: 1px solid #000;
  background-color:#ebebeb;
  border: 1px solid;
  border-radius: 50%;
  margin-top: 10px;
  margin-left:150px;
}
body{
  background-color:#ebebeb; 
  cursor:crosshair;
  background-image: url("image/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

#textboard{
  position: absolute;
  right: 430px;
  top: 10px;
  width: 150px;
  height:30px;
  margin-top: 5px;
}

.fontSize {
  position: absolute;
  right: 250px;
  top: 10px;
  
  width: 30px;
  height: 30px;
  float: right;
  margin-top: 5px;
  margin-right: 5px;
  cursor: pointer;
  border: 1px solid #000;
  text-align: center;
  background-color: lavender;
}

.timestamp{
  position:absolute;
  right: 600px;
  top:120px;
  width: 60px;
  height: 60px;
}

#undo{
  background-image: url("image/Undo-icon.png");
  background-size: 100% 100%;
  right: 520px;
  border-radius:30%;
}

#redo{
  background-image: url("image/Redo-icon.png");
  background-size: 100% 100%;
  right: 440px;
  border-radius:30%;
}

#btn_download{
  background-color: #ebebeb;
  font-size: 35px;
}

#btn_upload{
  background-color: turquoise;
  font-size: 15px;
  width: 220px;
  border-radius:10%;
  margin-top: 5px;
}



.shape{
  position:absolute;
  right: 300px;
  top:120px;
  width: 80px;
  height: 80px;
}
#rectangle{
  background-image: url("image/rectangle.png");
  background-size: 100% 100%;
  right: 310px;
}
#triangle{
  background-image: url("image/triangle.png");
  background-size: 100% 100%;
  right: 210px;
}

#circle{
  background-image: url("image/circle.png");
  background-size: 100% 100%;
  right: 110px;
  
}


#size15{
  position: absolute;
  right: 300px;
  top: 10px;
  width: 100px;
  height:40px;
  font-size: 100%;
}
#size32{
  position: absolute;
  right: 200px;
  top: 10px;
  width: 100px;
  height:40px;
  font-size: 100%;
}
#size60{
  position: absolute;
  right: 100px;
  top: 10px;
  width: 100px;
  height:40px;
  font-size: 100%;
}

.fontType{ 
  margin-top: 5px;
  margin-right: 5px;
  cursor: pointer;
  border: 1px solid #000;
  text-align: center;
  background-color: lavenderblush;
}

#type1{
  position: absolute;
  right: 300px;
  top: 50px;
  width: 100px;
  height:40px;
  font-size: 100%;
}
#type2{
  position: absolute;
  right: 200px;
  top: 50px;
  width: 100px;
  height:40px;
  font-size: 100%;
}
#type3{
  position: absolute;
  right: 100px;
  top: 50px;
  width: 100px;
  height:40px;
  font-size: 100%;
}



#buttons {
  position: absolute;
  top: 5px;
  left: 10px;
}
#reset {
  margin-top: 10px;
  margin-left: 105px;
  float: left;
  font-size: 35px;
}
.color {
  width: 25px;
  height: 25px;
  float: left;
  margin-top: 10px;
  margin-left: 5px;
  cursor: pointer;
  border: 1px solid #000;
  text-align: center;
  background-color: gray;
}
#red {
  background-color: red;
}
#orange {
  background-color: orange;
}
#yellow {
  background-color: yellow;
}
#green {
  background-color: green;
}
#blue {
  background-color: blue;
}
#purple {
  background-color: purple;
}
#pink {
  background-color: pink;
}
#black {
  background-color: black;
}
#white {
 background-color: white;
}
#rainbow {
  background-color: skyblue;
  margin-right: 20px;
  width: 90px;
  height: 30px;
  font-size:20px;
}


#function{
  position: absolute;
  top: 25px;
  right: 100px;
}
.function {
  width: 20px;
  height: 20px;
  float: right;
  margin-top: 10px;
  margin-right: 5px;
  cursor: pointer;
  border: 1px solid #000;
  text-align: center;
}

div{
  width: 100px;
  height: 100px;
}

#drawing{
  background-image: url("image/painter.jpg");
  background-size: 100% 100%;
  width: 80px;
  height: 80px;
}

#text{
  background-image: url("image/Typing-icon.png");
  background-size: 100% 100%;
  background-color: #ebebeb;
  width: 80px;
  height: 80px;
}

#eraser{
  background-image: url("image/eraser.jpg");
  background-size: 100% 100%;
  width: 80px;
  height: 80px;
}
